@page "/scrumpoker"
@using System.Collections.Generic
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<h3>Scrum Poker</h3>

<div>
  <label for="sessionName">Session Name:</label>
  <input id="sessionName" @bind="sessionName" />
  <button @onclick="CreateSession">Create Session</button>
</div>

@if (sessionCreated)
{
  <h4>Session: @sessionName</h4>
  <div>
    @foreach (var card in cards)
    {
      <button @onclick="() => SelectCard(card)">@card</button>
    }
  </div>
  <p>Selected Card: @selectedCard</p>
}

@code {
  private string sessionName;
  private bool sessionCreated = false;
  private List<string> cards = new List<string> { "1", "2", "3", "5", "8", "13", "21" };
  private string selectedCard;
  private HubConnection hubConnection;

  protected override async Task OnInitializedAsync()
  {
    hubConnection = new HubConnectionBuilder()
    .WithUrl(Navigation.ToAbsoluteUri("/scrumpokerhub"))
    .Build();

    hubConnection.On<string>("SessionCreated", (name) =>
    {
      sessionName = name;
      sessionCreated = true;
      StateHasChanged();
    });

    hubConnection.On<string>("CardSelected", (card) =>
    {
      selectedCard = card;
      StateHasChanged();
    });

    await hubConnection.StartAsync();
  }

  private async Task CreateSession()
  {
    await hubConnection.SendAsync("CreateSession", sessionName);
  }

  private async Task SelectCard(string card)
  {
    await hubConnection.SendAsync("SelectCard", card);
  }

  public async ValueTask DisposeAsync()
  {
    await hubConnection.DisposeAsync();
  }
}